<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
  <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
  <uses-permission android:name="android.permission.CAMERA" />

  <uses-feature
    android:name="android.hardware.camera"
    android:required="false" />

  <application
    android:name="${applicationName}"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_label">
    <activity
      android:name=".MainActivity"
      android:allowBackup="false"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
      android:exported="true"
      android:hardwareAccelerated="true"
      android:launchMode="singleTask"
      android:screenOrientation="portrait"
      android:taskAffinity=""
      android:theme="@style/Theme.App.Splash"
      android:windowSoftInputMode="adjustResize">
      <meta-data
        android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/Theme.App" />
      <meta-data
        android:name="flutter_deeplinking_enabled"
        android:value="true" />

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:scheme="https" />

        <data android:host="dev.withglyph.com" />
        <data android:host="staging.withglyph.com" />
        <data android:host="withglyph.com" />
      </intent-filter>

      <intent-filter>
        <action android:name="FLUTTER_NOTIFICATION_CLICK" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <meta-data
      android:name="flutterEmbedding"
      android:value="2" />

    <meta-data
      android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@drawable/ic_notification" />
    <meta-data
      android:name="com.google.firebase.messaging.default_notification_color"
      android:resource="@color/gray_900" />
    <meta-data
      android:name="com.google.firebase.messaging.default_notification_channel_id"
      android:value="com.withglyph.app.default" />

    <meta-data
      android:name="com.naver.sdk.clientId"
      android:value="D2mh8VeGrpMV5Z8eWRKi" />
    <meta-data
      android:name="com.naver.sdk.clientSecret"
      android:value="66kb3ApsAQ" />
    <meta-data
      android:name="com.naver.sdk.clientName"
      android:value="Glyph" />

    <provider
      android:name="com.pichillilorenzo.flutter_inappwebview_android.InAppWebViewFileProvider"
      android:authorities="${applicationId}.flutter_inappwebview_android.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>
  </application>

  <queries>
    <intent>
      <action android:name="android.intent.action.PROCESS_TEXT" />
      <data android:mimeType="text/plain" />
    </intent>

    <package android:name="com.google.android.gm" />
    <package android:name="com.nhn.android.mail" />
  </queries>
</manifest>