.tiptap {
  font-feature-settings:
    'calt' 0,
    'ss05' 1;

  & p {
    caret-color: #171717;
  }

  & li > p:first-child {
    display: inline;
  }
}

.tiptap-editor {
  & [data-drag-handle] {
    cursor: grab;
  }

  & .ProseMirror-focused .ProseMirror-gapcursor {
    border-left: 1px solid #171717;
    width: 0;
    height: 1.2em;
    margin-left: var(--document-paragraph-indent);
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    animation: cursor-blink 1s steps(2, start) infinite;
  }
}

& .ProseMirror-dropcursor {
  background-color: #8162e8;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror-hideselection {
  caret-color: transparent;
}

.ProseMirror-hideselection *::selection {
  background-color: transparent;
}

@keyframes cursor-blink {
  to {
    visibility: hidden;
  }
}
