.tiptap {
  font-feature-settings:
    'calt' 0,
    'ss05' 1;

  & p {
    caret-color: #09090b;
  }

  & li > p:first-child {
    display: inline;
  }

  &[data-indent='0'] {
    & p {
      text-indent: 0;
    }
  }

  &[data-indent='50'] {
    & p {
      text-indent: 0.5rem;
    }
  }

  &[data-indent='100'] {
    & p {
      text-indent: 1rem;
    }
  }

  &[data-indent='200'] {
    & p {
      text-indent: 2rem;
    }
  }

  &[data-spacing='0'] {
    & p {
      margin-bottom: 0;
    }
  }

  &[data-spacing='50'] {
    & p {
      margin-bottom: 0.5rem;
    }
  }

  &[data-spacing='100'] {
    & p {
      margin-bottom: 1rem;
    }
  }

  &[data-spacing='200'] {
    & p {
      margin-bottom: 2rem;
    }
  }
}

.tiptap-editor {
  & [data-drag-handle] {
    cursor: grab;
  }

  & .ProseMirror-focused .ProseMirror-gapcursor {
    border-left: 1px solid black;
    width: 0;
    height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    animation: cursor-blink 1s steps(2, start) infinite;
  }
}

& .ProseMirror-dropcursor {
  background-color: #8162e8;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror-hideselection {
  caret-color: transparent;
}

.ProseMirror-hideselection *::selection {
  background-color: transparent;
}

@keyframes cursor-blink {
  to {
    visibility: hidden;
  }
}
