@font-face {
  font-family: 'PNXL_Pretendard';
  src: url('https://pnxl.net/assets/fonts/Pretendard.woff2') format('woff2-variations');
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
}
