.prose {
  & p {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  & h1 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 16px;
  }

  & h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
  }

  & h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 16px;
  }

  & h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
  }

  & ol,
  & ul {
    list-style-position: outside;
    padding-left: 32px;
    padding-top: 4px;
    padding-bottom: 4px;

    & li {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    & ol,
    & ul {
      padding-left: 32px;
    }
  }

  & ol {
    list-style-type: decimal;
  }

  & ul {
    list-style-type: disc;
  }

  & blockquote {
    border-left: 1px solid black;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: pre;
  }

  /*
   * marks
  */

  & strong {
    font-weight: 700;
  }

  & i {
    font-style: italic;
  }

  & s {
    text-decoration-line: line-through;
  }

  & u {
    text-decoration-line: underline;
  }
}
