html {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.gray.300') transparent;
}

::-webkit-scrollbar {
  --uno: square-10px;

  &-button {
    --uno: hidden;
  }

  &-track {
    --uno: bg-transparent;
  }

  &-thumb {
    --uno: bg-gray-300 bg-clip-content border-2 border-solid border-transparent rounded-full active:bg-gray-400;
  }
}
