.ProseMirror {
  & strong {
    --uno: font-bold;
  }

  & em {
    --uno: font-italic;
  }

  & s {
    --uno: line-through;
  }

  & u {
    --uno: underline;
  }

  & sup {
    --uno: align-super;
  }

  & sub {
    --uno: align-sub;
  }

  & p.is-editor-empty:first-child::before {
    --uno: text-gray-400 h-0 pointer-events-none float-left;
    content: attr(data-placeholder);
  }
}
