@font-face {
  font-family: 'Pretendard';
  src: url('https://c.pnxl.net/assets/fonts/Pretendard.woff2') format('woff2-variations');
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://c.pnxl.net/assets/fonts/RIDIBatang.woff2') format('woff2-variations');
  font-style: normal;
  font-weight: 400 400;
  font-display: block;
}

@font-face {
  font-family: 'FiraCode';
  src: url('https://c.pnxl.net/assets/fonts/FiraCode.woff2') format('woff2-variations');
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
}
