@font-face {
  font-family: 'PNXL_SUIT';
  src: url('https://pnxl.net/assets/fonts/SUIT.woff2') format('woff2-variations');
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
}

@font-face {
  font-family: 'PNXL_Pretendard';
  src: url('https://pnxl.net/assets/fonts/Pretendard.woff2') format('woff2-variations');
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
}

@font-face {
  font-family: 'PNXL_NanumBarunGothic';
  src: url('https://pnxl.net/assets/fonts/NanumBarunGothic.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'PNXL_NanumBarunGothic';
  src: url('https://pnxl.net/assets/fonts/NanumBarunGothicBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'PNXL_KoPubWorldDotum';
  src: url('https://pnxl.net/assets/fonts/KoPubWorldDotumMedium.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'PNXL_KoPubWorldDotum';
  src: url('https://pnxl.net/assets/fonts/KoPubWorldDotumBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'PNXL_RIDIBatang';
  src: url('https://pnxl.net/assets/fonts/RIDIBatang.woff2') format('woff2-variations');
  font-style: normal;
  font-weight: 400 400;
  font-display: block;
}

@font-face {
  font-family: 'PNXL_KoPubWorldBatang';
  src: url('https://pnxl.net/assets/fonts/KoPubWorldBatangMedium.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'PNXL_KoPubWorldBatang';
  src: url('https://pnxl.net/assets/fonts/KoPubWorldBatangBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'PNXL_NanumMyeongjo';
  src: url('https://pnxl.net/assets/fonts/NanumMyeongjo.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'PNXL_NanumMyeongjo';
  src: url('https://pnxl.net/assets/fonts/NanumMyeongjoBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'PNXL_FiraCode';
  src: url('https://pnxl.net/assets/fonts/FiraCode.woff2') format('woff2-variations');
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
}
