.ProseMirror {
  /*
   * nodes
  */
  --uno: font-sans whitespace-pre-wrap break-all;

  & p {
    --uno: py-1;
  }

  & p[data-level='2'] {
    --uno: body-13-m;
  }

  & h1 {
    --uno: title-24-b my-4;
  }

  & h2 {
    --uno: title-20-b my-4;
  }

  & h3 {
    --uno: subtitle-18-b my-4;
  }

  & hr {
    --uno: bg-no-repeat border-none bg-center m-y-xs m-x-auto;
  }

  & hr[data-kind='1'] {
    background-image: linear-gradient(to right, currentColor 50%, rgb(255 255 255 / 0) 50%);
    background-repeat: repeat;
    background-size: 16px 1px;
    height: 0.0625rem;
  }

  & hr[data-kind='2'],
  & hr[data-kind='3'] {
    border: solid 1px currentColor;
  }

  & hr[data-kind='3'] {
    width: 7.5rem;
  }

  & hr[data-kind='4'] {
    --uno: h-1.8rem;
    background-image: url(https://staging.penxle.com/horizontal-rules/4.svg);
  }

  & hr[data-kind='5'] {
    --uno: h-0.875rem;
    background-image: url(https://staging.penxle.com/horizontal-rules/5.svg);
  }

  & hr[data-kind='6'] {
    --uno: h-0.91027rem;
    background-image: url(https://staging.penxle.com/horizontal-rules/6.svg);
  }

  & hr[data-kind='7'] {
    --uno: h-1.25rem;
    background-image: url(https://staging.penxle.com/horizontal-rules/7.svg);
  }

  & blockquote {
    --uno: border-l-0.1875rem border-text-primary pl-0.625rem my-0.34375rem;
  }

  & blockquote[data-kind='2'] {
    --uno: border-l-none;
    &:before {
      --uno: block w-2rem;
      content: url(https://staging.penxle.com/blockquotes/carbon.svg);
    }
  }

  & blockquote[data-kind='3'] {
    --uno: border-l-none;
    &:before {
      --uno: block w-2rem m-x-auto;
      content: url(https://staging.penxle.com/blockquotes/carbon.svg);
    }
    &:after {
      --uno: block w-2rem rotate-180 m-x-auto;
      content: url(https://staging.penxle.com/blockquotes/carbon.svg);
    }
  }

  /*
   * marks
  */

  & b {
    --uno: font-bold;
  }

  & i {
    --uno: font-italic;
  }

  & s {
    --uno: line-through;
  }

  & u {
    --uno: underline;
  }

  & [data-text-color='text-gray-50'] {
    --uno: text-gray-50;
  }

  & [data-text-color='text-gray-40'] {
    --uno: text-gray-40;
  }

  & [data-text-color='text-red-60'] {
    --uno: text-red-60;
  }

  & [data-text-color='text-blue-60'] {
    --uno: text-blue-60;
  }

  & [data-text-color='text-orange-70'] {
    --uno: text-orange-70;
  }

  & [data-text-color='text-green-60'] {
    --uno: text-green-60;
  }

  & [data-text-color='text-purple-60'] {
    --uno: text-purple-60;
  }

  /*
   * extensions
  */

  & [data-font-family='serif'] {
    --uno: font-serif;
  }

  & [data-font-family='mono'] {
    --uno: font-mono;
  }

  & [data-line-height='none'] {
    --uno: leading-none;
  }

  & [data-line-height='tight'] {
    --uno: leading-tight;
  }

  & [data-line-height='snug'] {
    --uno: leading-snug;
  }

  & [data-line-height='relaxed'] {
    --uno: leading-relaxed;
  }

  & [data-line-height='loose'] {
    --uno: leading-loose;
  }

  & [data-letter-spacing='tighter'] {
    --uno: tracking-tighter;
  }

  & [data-letter-spacing='tight'] {
    --uno: tracking-tight;
  }

  & [data-letter-spacing='wide'] {
    --uno: tracking-wide;
  }

  & [data-letter-spacing='wider'] {
    --uno: tracking-wider;
  }

  & [data-letter-spacing='widest'] {
    --uno: tracking-widest;
  }

  & [data-text-align='left'] {
    --uno: text-left;
  }
  & [data-text-align='center'] {
    --uno: text-center;
  }

  & [data-text-align='right'] {
    --uno: text-right;
  }

  & [data-text-align='justify'] {
    --uno: text-justify;
  }

  & p.is-editor-empty:first-child::before {
    --uno: text-gray-40 h-0 pointer-events-none float-left;
    content: attr(data-placeholder);
  }

  /*
   * others
  */

  & [data-drag-handle] {
    --uno: cursor-grab;
  }
}

/*
  * extensions
*/

.ProseMirror-dropcursor {
  --uno: bg-brand-50;
}

.ProseMirror-gapcursor {
  --uno: border-t border-t-black w-full my-1;
  animation: cursor-blink 1s steps(2, start) infinite;
}

.ProseMirror-focused .ProseMirror-gapcursor {
  --uno: block;
}

/*
  * reset
*/

.ProseMirror-focused {
  --uno: outline-none;
}

.ProseMirror-hideselection {
  --uno: caret-transparent;
}

.ProseMirror-hideselection *::selection {
  --uno: bg-transparent;
}
