.ProseMirror {
  --uno: whitespace-pre-wrap break-all;

  & li > p:first-child {
    display: inline;
  }
}

.tiptap-editor {
  & p.is-editor-empty:first-child::before {
    --uno: text-gray-40 h-0 pointer-events-none float-left;
    content: attr(data-placeholder);
  }

  & [data-drag-handle] {
    --uno: cursor-grab;
  }
}

/*
  * extensions
*/

.ProseMirror-dropcursor {
  --uno: bg-teal-500;
}

.ProseMirror-focused .ProseMirror-gapcursor {
  --uno: border-l border-l-black w-0 h-20px my-1;
  animation: cursor-blink 1s steps(2, start) infinite;
}

/*
  * reset
*/

.ProseMirror-focused {
  --uno: outline-none;
}

.ProseMirror-hideselection {
  --uno: caret-transparent;
}

.ProseMirror-hideselection *::selection {
  --uno: bg-transparent;
}

/*
  * tiptap custom
*/

.tiptap-autoindent {
  & p {
    text-indent: 1rem;
  }

  & .ProseMirror-gapcursor {
    --uno: ml-1rem;
  }
}
