.ProseMirror {
  /*
   * nodes
  */
  --uno: whitespace-pre-wrap break-all;

  & p {
    --uno: py-0.5;
  }

  & p[data-level='2'] {
    --uno: body-13-m;
  }

  & h1 {
    --uno: title-24-b my-4;
  }

  & h2 {
    --uno: title-20-b my-4;
  }

  & h3 {
    --uno: subtitle-18-b my-4;
  }

  & hr {
    --uno: bg-no-repeat border-none bg-center m-y-xs m-x-auto;
  }

  & hr[data-kind='1'] {
    background-image: linear-gradient(to right, currentColor 50%, rgb(255 255 255 / 0) 50%);
    background-repeat: repeat;
    background-size: 16px 1px;
    height: 0.0625rem;
  }

  & hr[data-kind='2'],
  & hr[data-kind='3'] {
    border: solid 1px currentColor;
  }

  & hr[data-kind='3'] {
    width: 7.5rem;
  }

  & hr[data-kind='4'] {
    --uno: h-1.8rem;
    background-image: url(https://penxle.com/horizontal-rules/4.svg);
  }

  & hr[data-kind='5'] {
    --uno: h-0.875rem;
    background-image: url(https://penxle.com/horizontal-rules/5.svg);
  }

  & hr[data-kind='6'] {
    --uno: h-0.91027rem;
    background-image: url(https://penxle.com/horizontal-rules/6.svg);
  }

  & hr[data-kind='7'] {
    --uno: h-1.25rem;
    background-image: url(https://penxle.com/horizontal-rules/7.svg);
  }

  & blockquote {
    --uno: border-l-0.1875rem border-text-primary pl-0.625rem my-0.34375rem p-r-6;
  }

  & blockquote[data-kind='2'] {
    --uno: border-l-none;
    &:before {
      --uno: block w-2rem;
      content: url(https://penxle.com/blockquotes/carbon.svg);
    }
  }

  & blockquote[data-kind='3'] {
    --uno: border-l-none p-r-none;
    &:before {
      --uno: block w-2rem m-x-auto;
      content: url(https://penxle.com/blockquotes/carbon.svg);
    }
    &:after {
      --uno: block w-2rem rotate-180 m-x-auto;
      content: url(https://penxle.com/blockquotes/carbon.svg);
    }
  }

  & ul,
  ol {
    list-style-position: outside;
    white-space: pre-wrap;
    margin-left: 1.25rem;
  }

  & ul {
    list-style-type: disc;
  }

  & ol {
    list-style-type: decimal;
  }

  & li > p:first-child {
    display: inline;
  }

  /*
   * marks
  */

  & a {
    --uno: underline text-disabled;
  }

  & b {
    --uno: font-bold;
  }

  & i {
    --uno: font-italic;
  }

  & s {
    --uno: line-through;
  }

  & u {
    --uno: underline;
  }

  & [data-text-color='text-gray-50'],
  & [data-text-color='text-post-gray'] {
    --uno: text-post-gray;
  }

  & [data-text-color='text-gray-40'],
  [data-text-color='text-post-gray2'] {
    --uno: text-post-gray2;
  }

  & [data-text-color='text-red-60'],
  & [data-text-color='text-post-red'] {
    --uno: text-post-red;
  }

  & [data-text-color='text-blue-60'],
  & [data-text-color='text-post-blue'] {
    --uno: text-post-blue;
  }

  & [data-text-color='text-orange-70'],
  & [data-text-color='text-post-brown'] {
    --uno: text-post-brown;
  }

  & [data-text-color='text-green-60'],
  & [data-text-color='text-post-green'] {
    --uno: text-post-green;
  }

  & [data-text-color='text-purple-60'],
  & [data-text-color='text-post-purple'] {
    --uno: text-post-purple;
  }

  & [data-text-color='text-white'],
  & [data-text-color='text-post-white'] {
    --uno: text-post-white;
  }

  /*
   * extensions
  */

  & [data-font-family='sans'] {
    --uno: font-sans;
  }

  & [data-font-family='serif'] {
    --uno: font-serif;
  }

  & [data-font-family='serif2'] {
    --uno: font-serif2;
  }

  & [data-font-family='serif3'] {
    --uno: font-serif3;
  }

  & [data-font-family='mono'] {
    --uno: font-mono;
  }

  & [data-line-height='none'] {
    --uno: leading-4;
  }

  & [data-line-height='tight'] {
    --uno: leading-5;
  }

  & [data-line-height='snug'] {
    --uno: leading-6;
  }

  & [data-line-height='normal'] {
    --uno: leading-7;
  }

  & [data-line-height='relaxed'] {
    --uno: leading-8;
  }

  & [data-line-height='loose'] {
    --uno: leading-9;
  }

  & [data-font-family^='serif'] {
    &[data-line-height='none'] {
      --uno: leading-4.5;
    }

    &[data-line-height='tight'] {
      --uno: leading-5.5;
    }

    &[data-line-height='snug'] {
      --uno: leading-6.5;
    }

    &[data-line-height='normal'] {
      --uno: leading-7.5;
    }

    &[data-line-height='relaxed'] {
      --uno: leading-8.5;
    }

    &[data-line-height='loose'] {
      --uno: leading-9.5;
    }
  }

  & [data-letter-spacing='tighter'] {
    --uno: tracking-tighter;
  }

  & [data-letter-spacing='tight'] {
    --uno: tracking-tight;
  }

  & [data-letter-spacing='wide'] {
    --uno: tracking-wide;
  }

  & [data-letter-spacing='wider'] {
    --uno: tracking-wider;
  }

  & [data-letter-spacing='widest'] {
    --uno: tracking-widest;
  }

  & [data-text-align='left'] {
    --uno: text-left;
  }
  & [data-text-align='center'] {
    --uno: text-center;
  }

  & [data-text-align='right'] {
    --uno: text-right;
  }

  & [data-text-align='justify'] {
    --uno: text-justify;
  }

  & p.is-editor-empty:first-child::before {
    --uno: text-gray-40 h-0 pointer-events-none float-left;
    content: attr(data-placeholder);
  }

  /*
   * others
  */

  & [data-drag-handle] {
    --uno: cursor-grab;
  }
}

/*
  * extensions
*/

.ProseMirror-dropcursor {
  --uno: bg-brand-50;
}

.ProseMirror-gapcursor {
  --uno: border-t border-t-black w-full my-1;
  animation: cursor-blink 1s steps(2, start) infinite;
}

.ProseMirror-focused .ProseMirror-gapcursor {
  --uno: block;
}

/*
  * reset
*/

.ProseMirror-focused {
  --uno: outline-none;
}

.ProseMirror-hideselection {
  --uno: caret-transparent;
}

.ProseMirror-hideselection *::selection {
  --uno: bg-transparent;
}

/*
  * tiptap custom
*/

.tiptap-autoindent {
  & p {
    text-indent: 1rem;
  }
}
